main {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   >section {
      width: 100%;
      max-width: 1200px;
   }
}

.galeriaInicio {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: nowrap;
   width: 100%;
   /* max-width: 900px; */
   overflow: hidden;

   >.containerImg {
      width: 400px;
      min-width: 200px;
      height: 500px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      transition: all .4s ease;
   }

   &:hover {
      >.containerImg:hover {
         width: 650px;
      }

      >.containerImg:not(:hover) {
         /* width: 300px; */
         opacity: 0.8;
      }
   }
}

.logonavbar {
   width: 70px;
   height: 70bpx;
}

.nav-item {
   margin-left: 25px;
   font-size: 20px;
}

.btn {
   margin-left: 10px;


}

/*ANIMATOPY*/
@-webkit-keyframes slideInLeft {
   from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
   }

   to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

@keyframes slideInLeft {
   from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
   }

   to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

.slideInLeft {
   -webkit-animation-name: slideInLeft;
   animation-name: slideInLeft;
}

.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}